* {
  font-family: "arboria", sans-serif;
  text-align: center;
}

body {
  background-color: #b2b5ea;
  color: #313584;
}

main {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3.5rem;
}

.phone-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #8a8ee7;
  width: 400px;
  height: 750px;
  border: 15px solid #a87af3;
  border-radius: 25px;
}

.lens {
  background-color: black;
  width: 15px;
  height: 15px;
  margin: 15px;
  border-radius: 50%;
}

label {
  font-size: 2.5rem;
  font-weight: 500;
}

#user-input {
  width: 70%;
  height: 50px;
  border-radius: 10px;
  font-size: 1.8rem;
  font-style: italic;
  color: #313584;
  margin: 30px;
}

#results-div {
  width: 100%;
  height: 450px;
  font-size: 2.5rem;
  font-weight: 500;
  padding-top: 145px;
}

.buttons {
  width: 100%;
  height: 70px;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
}

.btn {
  width: 40%;
  height: 45px;
  font-size: 1.8rem;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  background-color: #d7d9fa;
}

.phone-body,
.btn {
  box-shadow: 10px 5px 20px #313584;
}
